! set colors (Tokyo Night)
*.foreground:	#A9B1D6
*.background:	#1A1B26
*.cursorColor:	#A9B1D6

! black
*.color0:	#32344A
*.color8:	#444B6A

! red
*.color1:	#F7768E
*.color9:	#FF7A93

! green
*.color2:	#9ECE6A
*.color10:	#B9F27C

! yellow
*.color3:	#E0AF68
*.color11:	#FF9E64

! blue
*.color4:	#7AA2F7
*.color12:	#7DA6FF

! magenta
*.color5:	#AD8EE6
*.color13:	#BB9AF7

! cyan
*.color6:	#449DAB
*.color14:	#0DB9D7

! white
*.color7:	#787C99
*.color15:	#ACB0D0

! set font for urxvt
URxvt*font:	xft:DejaVuSansMono:size=14:antialias=true
URxvt*letterSpace: -1

! set urxvt geometry
URxvt*geometry:	80x240+0+0

! set urxvt window style
URxvt*borderLess:	false
URxvt*externalBorder:	0
URxvt*internalBorder:	4
URxvt*scrollBar:	false

! set urxvt scroll history size
URxvt*saveLines:	5000
