! set colors (Dracula)
*.foreground:	#F8F8F2
*.background:	#282A36

! black
*.color0:	#000000
*.color8:	#4D4D4D

! red
*.color1:	#FF5555
*.color9:	#FF6E67

! green
*.color2:	#50FA7B
*.color10:	#5AF78E

! yellow
*.color3:	#F1FA8E
*.color11:	#F4F99D

! blue
*.color4:	#BD93F9
*.color12:	#CAA9FA

! magenta
*.color5:	#FF79C6
*.color13:	#FF92D0

! cyan
*.color6:	#8BE9FD
*.color14:	#9AEDFE

! white
*.color7:	#BFBFBF
*.color15:	#E6E6E6

! set font for urxvt
URxvt*font:	xft:DejaVuSansMono:size=14:antialias=true
URxvt*letterSpace: -1

! set urxvt geometry
URxvt*geometry:	80x240+0+0

! set urxvt window style
URxvt*borderLess:	false
URxvt*externalBorder:	0
URxvt*internalBorder:	4
URxvt*scrollBar:	false

! set urxvt scroll history size
URxvt*saveLines:	5000

! disable ISO 14755 input
URxvt.iso14755: false
URxvt.iso14755_52:  false
